<div class="navbar">
  <div class="container character-info">
    <div class="character-name">
      <%= characterData ? characterData.name : "No character loaded" %>
    </div>
    <div class="class-picture">
      <% if (characterData && characterData.classImageUrl) { %>
        <img src="<%= characterData.classImageUrl %>" alt="Class Picture">
      <% } else { %>
        <img src="/images/default.png" alt="No class image">
      <% } %>
    </div>
    <button id="show-char-inventory-btn" class="nav-item">Character & Inventory</button>

  </div>

  <div class="container castle">
    <div class="nav-item">Enter Castle</div>
  </div>

  <div class="container skills">
    <p>Skills</p>
    <div class="nav-item">Fishing</div>
    <div class="nav-item">Crafting</div>
    <div class="nav-item">Mount Training</div>
    <div class="nav-item">Social</div>
  </div>

  <div class="container activities">
    <p>Activities</p>
    <div class="nav-item">Dungeons</div>
    <div class="nav-item">Uberbosses</div>
    <div class="nav-item">Arena</div>
    <div class="nav-item">Endless tower</div>
  </div>

  <div class="container exit">
    <a href="/" class="nav-item">Back to menu</a>
  </div>
</div>


