<!DOCTYPE html>
<html>
<head>
    <title>Character Creation</title>
    <link rel="stylesheet" href="/css/characterCreation.css">
    <%- include('./partials/head.ejs') %>
</head>
<body>
<!DOCTYPE html>
<html>
<head>
    <title>Character Creation</title>
    <link rel="stylesheet" href="/css/characterCreation.css">
    <%- include('./partials/head.ejs') %>
</head>
<body>
<div id="background">
    <div id="introSelection">
        <div class="queen-intro">
            <div class="image-wrapper-queen-intro">
                <img src="/images/queen.png" alt="Queen" class="image-button">
            </div>
        </div>
        <p class="dialogue">"A stranger is watching you calmly..."</p>
        <button id="nextIntro">Next</button>

        <p class="dialogue hidden">Stranger: Do not be afraid. The gods of Feldunder have heard my prayers at last. This might seem confusing at first, but you have just been born...</p>
        <button id="nextIntro2" class="hidden">Next</button>

        <p class="dialogue hidden">Queen Elise: My name is Queen Elise. I rule what's left of this castle. I'm the 48th in line and was expecting the same faith as them... until you showed up. Welcome to Kingdom Of Feldunder my newborn. </p>
        <button id="nextIntro3" class="hidden">Next</button>

        <p class="dialogue hidden">Queen Elise: Now tell me, who are you?</p>
        <input type="text" id="playerNameInput" class="hidden" placeholder="Enter your name">
        <button id="submitName" class="hidden">Accept Name</button>
    </div>

    <div id="classSelection" class="hidden">

        <div class="main-content">
            <div class="class-header-container">
                <div class="class-header-box">
                    <div class="top-header"><h2 class="class-header"><button id="class-back">Back</button> Choose your class <button id="class-confirm">Continue</button> </h2></div>
                    <div id="playerNameHeader"></div>
                    <p class="selectedInfo">No class restrictions <br> Unique skill tree for each class<p/>
                </div>
            </div>
            <div class="image-button-container">
                <div class="image-wrapper">
                    <img src="/images/knightMale.png" alt="Male Knight" data-class="knight" data-gender="male" class="class-button">
                    <p class="image-text-header">Knight</p>
                    <img src="/images/knightFemale.png" alt="Female Knight" data-class="knight" data-gender="female" class="class-button">
                </div>

                <div class="image-wrapper">
                    <img src="/images/knightMale.png" alt="Male Mage" data-class="mage" data-gender="male" class="class-button">
                    <p class="image-text-header">Mage</p>
                    <img src="/images/knightMale.png" alt="Female Mage" data-class="mage" data-gender="female" class="class-button">
                </div>

                <div class="image-wrapper">
                    <img src="/images/knightMale.png" alt="Male Archer" data-class="archer" data-gender="male" class="class-button">
                    <p class="image-text-header">Archer</p>
                    <img src="/images/knightMale.png" alt="Female Archer" data-class="archer" data-gender="female" class="class-button">
                </div>

                <div class="image-wrapper">
                    <img src="/images/knightMale.png" alt="Male Rogue" data-class="rogue" data-gender="male" class="class-button">
                    <p class="image-text-header">Rogue</p>
                    <img src="/images/knightMale.png" alt="Female Rogue" data-class="rogue" data-gender="female" class="class-button">
                </div>
            </div>
        </div>
    </div>

    <div id="classChooseBackground" class="hidden">
       <div class="class-background-main">
           <div class="class-header-container">
                <div class="class-header-box">
                    <div class="top-header"><h2 class="class-header"><button id="class-background-back">Back</button> Choose your background <button id="class-background-confirm">Continue</button> </h2></div>
                <p class="class-background-info-header">No class restrictions <br> Unique skill tree for each class<p/>
             </div>
         </div>
      </div>

      <div class="background-selection">
  <div class="tables-container">
    <div class="history-selection">
      </div>
    <div class="trait-selection">
      </div>
  </div>
  <div class="class-Showcase">
    <div class="image-wrapper">
      <div id="playerName"></div>
      <p class="selectedInfo"></p>
      <img id="selectedClassImage" src="" alt="Selected Class">
    </div>
  </div>
</div>


</div>

<%- include('./partials/scripts.ejs') %>
<script src="/js/characterCreation.js"></script>
<script src="/js/selectingBackground.js"></script>
</body>
</html>