<!DOCTYPE html>
<html>
<head>
    <title>Character Creation</title>
    <link rel="stylesheet" href="/css/characterCreation.css">
    <%- include('./partials/head.ejs') %>
</head>
<body>
<div id="background">
    <div id="introSelection">
        <div class="queen-intro">
            <div class="image-wrapper">
                <img src="/images/queen.png" alt="Queen" class="image-button">
            </div>
        </div>
        <p class="dialogue">Queen Elise stares at you gently</p>
        <button id="nextIntro">Next</button>

        <p class="dialogue hidden">Queen Elise: Do not be afraid. The gods of <span id="playerNamePlaceholder"></span> have heard my prayers at last. This might seem confusing at first... but you have been summoned.</p>
        <button id="nextIntro2" class="hidden">Next</button>

        <p class="dialogue hidden">Queen Elise: My name is Queen Elise. I rule what's left of this castle. I'm the 48th in row and my fate seemed to be same as all of them... death... until now.</p>
        <button id="nextIntro3" class="hidden">Next</button>

        <p class="dialogue hidden">"Forgive my ignorance, who are you?"</p>
        <input type="text" id="playerNameInput" class="hidden" placeholder="Enter your name">
        <button id="submitName" class="hidden">Accept Name</button>
    </div>

    <div id="classSelection" class="hidden">
        
            <h1 class="class-header">Choose your class</h1>
            <div class="image-button-container">
                <div class="image-wrapper">
                    <img src="/images/knight.png" alt="Knight" data-class="knight" class="class-button">
                    <p class="image-text-header">Knight</p>
                    <p class="image-text">Unique Skill Tree</p>
                    <p class="image-text">3 unique specilizations at lvl 40</p>
                    <p class="image-text">Holy Paladin</p>
                    <p class="image-text">Blood Knight</p>
                    <p class="image-text">Dual wield Knight</p>
                    
                </div>
                <div class="image-wrapper">
                    <img src="/images/archer.png" alt="Archer" data-class="archer" class="class-button">
                    <p class="image-text-header">Archer</p>
                    <p class="image-text">Unique Skill Tree</p>
                    <p class="image-text">3 unique specilizations at lvl 40</p>
                    <p class="image-text">Greatbow Archer</p>
                    <p class="image-text">Dualwield spec</p>
                    <p class="image-text">Animal Lover</p>
                    
                </div>
                <div class="image-wrapper">
                    <img src="/images/huntress.png" alt="Huntress" data-class="huntress" class="class-button">
                    <p class="image-text-header">Huntress</p>
                    <p class="image-text">Unique Skill Tree</p>
                    <p class="image-text">3 unique specilizations at lvl 40</p>
                    <p class="image-text">Throwing master</p>
                    <p class="image-text">Beast hunter</p>
                    <p class="image-text">Spearshield</p>
                    
                </div>
            </div>
        </div>
    </div>

    <%- include('./partials/scripts.ejs') %>
    <script src="/js/characterCreation.js"></script>
</body>
</html>