<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('./partials/head.ejs') %>
    <title>Kingdom</title>
  <link rel="stylesheet" href="/css/navbar.css">
  <link rel="stylesheet" href="/css/game.css">
</head>
<body>

  <%- include('./partials/navbar.ejs', { characterData: characterData }) %>

  <div id="overlay" class="hidden">
  <div id="char-inventory-container" class="centered-box"></div>
</div>

  <p>game main page</p>

  <%- include('./partials/scripts.ejs') %>
</body>
</html>