<!DOCTYPE html>
<html>
  <head>
  <%- include('./partials/head.ejs') %>
    <%- include('./partials/navbar.ejs') %>
    
  </head>
  <body>
    
    <p>game main page</p>

    <%- include('./partials/scripts.ejs') %>
  </body>
</html>