<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('./partials/head.ejs') %>
    <title>Kingdom</title>
  <link rel="stylesheet" href="/css/navbar.css">
  <link rel="stylesheet" href="/css/game.css">
    <link rel="stylesheet" href="/css/characterAndInventory.css">

</head>
<body>

  <%- include('./partials/navbar.ejs', { characterData: characterData }) %>
<div id="char-inventory-container"></div>


</div>

  <p>game main page</p>

  <%- include('./partials/scripts.ejs') %>
  <script src="/js/characterAndInventory.js"></script>
</body>
</html>