<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/index.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <%- include('./partials/head.ejs') %>
</head>
<body>

    <!-- Background Music -->
    <audio id="background-music" loop autoplay>
        <source src="/music/menu_music.mp3" type="audio/mpeg">
        Your browser does not support the audio element.
    </audio>

    <!-- Main Menu -->
    <div id="main-menu-section" class="app-section">
        <div id="contentContainer">
            <img src="/images/kof.png" alt="Error icon">
            <button id="create-character-btn">Create Character</button>
            <button id="load-game-btn">Load Game</button>
            <button id="settings-btn">Settings</button>
            <button id="exit-game-btn">Exit Game</button>
            <p>Developed By Tom</p>
        </div>
    </div>

    <!-- Character Creation -->
<div id="character-creation-section" class="app-section hidden">
  <div id="contentContainer">
    <h1>Character Creation</h1>
    <button id="back-to-menu-btn">Back to Main Menu</button>
    <button id="confirm-creation-btn">Confirm</button>
    <!-- New container that holds the grid + details -->
    <div id="class-layout-container">
      <div id="class-list-container"></div>
      <div id="selected-class-info" class="hidden"></div>
    </div>


  </div>
</div>


<!-- Origin and passives selection -->
<div id="character-origin-section" class="app-section hidden">
  <div id="contentContainer">
    <h1>Origin & Passives</h1>
    <button id="back-to-creation-btn">Back to Character Creation</button>
    <button id="confirm-origin-btn">Confirm</button>

    <div id="origin-selection-container">
      <h2>Origins</h2>
      <div id="origin-list"></div>
    </div>

    <div id="unique-passive-selection-container">
      <h2>Unique Class Passive</h2>
      <div id="unique-passive-list"></div>
    </div>

    <div id="additional-passives-selection-container">
      <h2>Additional Passives (Select 2)</h2>
      <div id="additional-passives-list"></div>
    </div>
  </div>
</div>



    <%- include('./partials/scripts.ejs') %>
    <script src="/js/gameInfo.js"></script>
    <script src="/js/index.js"></script>
</body>
</html>