<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/index.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <%- include('./partials/head.ejs') %>
</head>
<body>

    <!-- Background Music -->
    <audio id="background-music" loop autoplay>
        <source src="/music/menu_music.mp3" type="audio/mpeg">
        Your browser does not support the audio element.
    </audio>

<!-- Main Menu -->
<div id="main-menu-section" class="app-section">
  <div id="menuContainer">
    <img src="/images/kof.png" alt="Error icon">
    <button id="create-character-btn">Create Character</button>
    <button id="load-game-btn">Game saves</button>
<div id="load-game-container" class="hidden"></div>

    <button id="exit-game-btn">Exit Game</button>
  </div>

  <!-- Move outside contentContainer -->
  <p class="footer-credit">Developed By Tom</p>
</div>

<!-- Character Creation -->
<div id="character-creation-section" class="app-section hidden">
  <div id="contentContainer">

    <!-- New wrapper for title + buttons -->
<div class="header-row">
  <button id="back-to-menu-btn" class="left-btn">Back to Main Menu</button>
  <h1>Class Selection</h1>
  <button id="confirm-creation-btn" class="right-btn">Confirm</button>
</div>

    <!-- Layout -->
    <div id="class-layout-container">
      <div id="class-list-container"></div>
      <div id="selected-class-info" class="hidden"></div>
    </div>

  </div>
</div>


<!-- Origin and passives selection -->
<div id="character-origin-section" class="app-section hidden">
  <div id="contentContainer">

<div class="header-row">
  <button id="back-to-creation-btn" class="left-btn">Class selection</button>
  <h1>Origin & Passives</h1>
  <button id="confirm-origin-btn" class="right-btn">Confirm</button>
</div>

    <div id="origin-selection-container">
      <h2>Origins</h2>
      <div id="origin-list"></div>
    </div>

    <div id="unique-passive-selection-container">
      <h2>Unique Class Passive</h2>
      <div id="unique-passive-list"></div>
    </div>

    <div id="additional-passives-selection-container">
      <h2>Additional Passives (Select 2)</h2>
      <div id="additional-passives-list"></div>
    </div>
  </div>
</div>


<!-- confirm all choices display + username input -->
<div id="character-review-section" class="app-section hidden">
  <div id="contentContainer">

    <div class="header-row">
      <button id="back-to-origin-btn" class="left-btn">Origin/Passive</button>
      <h1>Confirm Character</h1>
      <button id="final-confirm-btn" class="right-btn">Confirm</button>
    </div>

    <div id="reviewContent"> <!-- wrapping the content in content-->

      <div id="username-input"></div>
      <div id="character-summary" class="summary-section"></div>

    </div>

  </div>
</div>

    <%- include('./partials/scripts.ejs') %>
    <script src="/js/index.js"></script>
</body>
</html>