<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/index.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <%- include('./partials/head.ejs') %>
</head>
<body>

    <!-- Background Music -->
    <audio id="background-music" loop autoplay>
        <source src="/music/menu_music.mp3" type="audio/mpeg">
        Your browser does not support the audio element.
    </audio>

    <!-- Main Menu -->
    <div id="main-menu-section" class="app-section">
        <div id="contentContainer">
            <img src="/images/kof.png" alt="Error icon">
            <button id="create-character-btn">Create Character</button>
            <button id="load-game-btn">Load Game</button>
            <button id="settings-btn">Settings</button>
            <button id="exit-game-btn">Exit Game</button>
            <p>Developed By Tom</p>
        </div>
    </div>

    <!-- Character Creation -->
    <div id="character-creation-section" class="app-section hidden">
        <div id="contentContainer">
            <h1>Choose Your Class</h1>

            <div class="gender-selection">
                <label>Select Gender:</label>
                <input type="radio" id="male" name="gender" value="male" checked>
                <label for="male">Male</label>
                <input type="radio" id="female" name="gender" value="female">
                <label for="female">Female</label>
            </div>

            <div id="class-list-container"></div>
            <div id="selected-class-info" class="hidden"></div>

            <button id="back-to-menu-btn">Back to Main Menu</button>
        </div>
    </div>

    <%- include('./partials/scripts.ejs') %>
    <script src="/js/gameInfo.js"></script>
    <script src="/js/index.js"></script>
</body>
</html>