<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <link rel="stylesheet" href="/css/index.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <%- include('./partials/head.ejs') %>
</head>
<body>
  <div id="startMenue">
    <img src="/images/kof.png">
    <button onclick="window.location.href='/characterCreation'">New game</button>
    <button>Saves</button>
    <button>Game Info </button>

  <div id="watermark">Developed By Tom Olsen / Music by ???
    <div id="audioPlayer">
      <i id="audioIcon" class="bi-volume-down-fill" style="cursor: pointer; font-size: 32px;"></i>
      <audio id="backgroundMusic" loop autoplay style="display: none;">
        <source src="music/MenuMusic.mp3" type="audio/mpeg">
      </audio>
    </div>
  </div>
  </div>







  <%- include('./partials/scripts.ejs') %>
  <script src="/js/index.js"></script>
  <script src="/js/gameInfo.js"></script>

</body>
</html>