<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/index.css">
    <%- include('./partials/head.ejs') %>
    
  </head>
  <body>
<div id="startMenue">
<h1>Game Name Placeholder</h1>
  <button onclick="window.location.href='/characterCreation'">Begin journey</button>
   
</div>

<div id="audioPlayer">
  <i id="audioIcon" class="bi-volume-down-fill" style="cursor: pointer; font-size: 32px;"></i>
  <audio id="backgroundMusic" loop autoplay style="display: none;">
    <source src="music/MenuMusic.mp3" type="audio/mpeg">
    Your browser does not support the audio element.
  </audio>
</div>

    <%- include('./partials/scripts.ejs') %>
    <script src="/js/index.js"></script>
    <div id="watermark">Made By Tom</div>
  </body>
  
  </div>
</html>
