
html, body {
  background-image: url('/images/castleOverview.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed; /* Keep the background fixed */
  margin: 0;
  height: 100vh; /* Set a fixed height for the viewport */
  overflow: hidden; /* Prevent scrolling of the body */
  background-position: center;
  background-color: black;
}

