@import '/bootstrap-icons/font/bootstrap-icons.css';

.bi-volume-down-fill {
  color: white; /* Change 'white' to your desired color */
}

.bi-volume-mute-fill {
  color: white; /* Change 'white' to your desired color */
}

html, body {
  background-image: url('/images/wall.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-position: center;
  background-color: black; /* Try applying here as well */
}

#startMenue {
  width: 300px;
  text-align: center;
  padding: 20px;
  color: rgb(235, 211, 0);
}

#startMenue button {
  padding: 10px 20px;
  font-size: 1em;
  cursor: pointer;
}

#watermark {
  position: fixed;
  bottom: 10px;
  right: 10px;
  font-size: 12px;
  color: #888; /* Adjust color as needed */
}

 